@import url('./font.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'gibsonbold','gibsonbold';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'gibsonbold',
    monospace,'DairyMilkFont';
}

#heading{
  font-family: "DairyMilkFont";
}